1. train.csv : 학습 데이터
id: 데이터 고유 id

age: 나이

sex: 성별 (여자 = 0, 남자 = 1)

cp: 가슴 통증(chest pain) 종류
1 : typical angina 일반적인 협심증
2 : atypical angina 일반적이지 않은 협심증
3 : non-anginal pain 협심증이 아닌 통증
4 : asymptomatic 무증상

trestbps: (resting blood pressure) 휴식 중 혈압(mmHg)

chol: (serum cholestoral) 혈중 콜레스테롤 (mg/dl)

fbs: (fasting blood sugar) 공복 중 혈당 (120 mg/dl 이하일 시 = 0, 초과일 시 = 1)

restecg: (resting electrocardiographic) 휴식 중 심전도 결과 
0: 정상
1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
2: showing probable or definite left ventricular hypertrophy by Estes' criteria

thalach: (maximum heart rate achieved) 최대 심박수

exang: (exercise induced angina) 활동으로 인한  협심증 여부 (없음 = 0, 있음 = 1)

oldpeak: (ST depression induced by exercise relative to rest) 휴식 대비 운동으로 인한 ST 하강

slope: (the slope of the peak exercise ST segment) 활동 ST 분절 피크의 기울기
1: upsloping 상승
2: flat 평탄
3: downsloping 하강

ca: number of major vessels colored by flouroscopy 형광 투시로 확인된 주요 혈관 수 (0~3 개) 

thal: thalassemia 지중해빈혈 여부
3 = normal 정상
6 = fixed defect 고정 결함
7 = reversable defect 가역 결함

target: 심장 질환 진단 여부
0: < 50% diameter narrowing
1: > 50% diameter narrowing


2. test.csv : 테스트 데이터
id: 데이터 고유 id

age: 나이

sex: 성별 (여자 = 0, 남자 = 1)

cp: 가슴 통증(chest pain) 종류

trestbps: (resting blood pressure) 휴식 중 혈압(mmHg)

chol: (serum cholestoral) 혈중 콜레스테롤 (mg/dl)

fbs: (fasting blood sugar) 공복 중 혈당 (120 mg/dl 이하일 시 = 0, 초과일 시 = 1)

restecg: (resting electrocardiographic) 휴식 중 심전도 결과 

thalach: (maximum heart rate achieved) 최대 심박수

exang: (exercise induced angina) 활동으로 인한  협심증 여부 (없음 = 0, 있음 = 1)

oldpeak: (ST depression induced by exercise relative to rest) 휴식 대비 운동으로 인한 ST 하강

slope: (the slope of the peak exercise ST segment) 활동 ST 분절 피크의 기울기

ca: number of major vessels colored by flouroscopy 형광 투시로 확인된 주요 혈관 수 (0~3 개) 

thal: thalassemia 지중해빈혈 여부


3. sample_submissoin.csv : 제출 양식
id: 데이터 고유 id
target: 심장 질환 진단 여부




위 자료는 아래 데이터를 바탕으로 제작되었습니다.

https://archive.ics.uci.edu/ml/datasets/Heart+Disease

Creators:



1. Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.

2. University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.

3. University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.

4. V.A. Medical Center, Long Beach and Cleveland Clinic Foundation: Robert Detrano, M.D., Ph.D.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from sklearn import preprocessing

train_df  = pd.read_csv('dataset/train.csv')
test_df  = pd.read_csv('dataset/test.csv')

train_df.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
1,2,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
2,3,54,1,1,192,283,0,0,195,0,0.0,2,1,3,0
3,4,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
4,5,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1

In [2]:
test_df.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,57,1,0,150,276,0,0,112,1,0.6,1,1,1
1,2,59,1,3,170,288,0,0,159,0,0.2,1,0,3
2,3,57,1,2,150,126,1,1,173,0,0.2,2,1,3
3,4,56,0,0,134,409,0,0,150,1,1.9,1,2,3
4,5,71,0,2,110,265,1,0,130,0,0.0,2,1,2

In [3]:
train_df.isnull().sum()

id          0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
train_df.columns[1]

'age'

In [5]:
# len(train_df.columns)
for i in range(1, len(train_df.columns)):
    print(train_df.columns[i], ':', train_df.iloc[:,i].max(),'-', train_df.iloc[:,i].min())

age : 77 - 34
sex : 1 - 0
cp : 3 - 0
trestbps : 192 - 94
chol : 564 - 131
fbs : 1 - 0
restecg : 2 - 0
thalach : 195 - 88
exang : 1 - 0
oldpeak : 5.6 - 0.0
slope : 2 - 0
ca : 3 - 0
thal : 3 - 0
target : 1 - 0

In [6]:
IQR=train_df['chol'].quantile(0.75)-train_df['chol'].quantile(0.25)
train_df=train_df.loc[(train_df['chol']<=train_df['chol'].quantile(0.75)+1.5*IQR)&(train_df['chol']>=train_df['chol'].quantile(0.25)-1.5*IQR), :]

In [7]:
for i in range(1, len(test_df.columns)):
    print(test_df.columns[i], ':', test_df.iloc[:,i].max(),'-', test_df.iloc[:,i].min())

age : 76 - 29
sex : 1 - 0
cp : 3 - 0
trestbps : 200 - 94
chol : 409 - 126
fbs : 1 - 0
restecg : 2 - 0
thalach : 202 - 71
exang : 1 - 0
oldpeak : 6.2 - 0.0
slope : 2 - 0
ca : 4 - 0
thal : 3 - 0

In [8]:
IQR=test_df['chol'].quantile(0.75)-test_df['chol'].quantile(0.25)
test_df=test_df.loc[(test_df['chol']<=test_df['chol'].quantile(0.75)+1.5*IQR)&(test_df['chol']>=test_df['chol'].quantile(0.25)-1.5*IQR), :]

In [9]:
train_df['trestbps'] = preprocessing.MinMaxScaler().fit_transform(train_df[['trestbps']] )
test_df['trestbps'] = preprocessing.MinMaxScaler().fit_transform(test_df[['trestbps']] )
train_df['chol'] = preprocessing.MinMaxScaler().fit_transform(train_df[['chol']] )
test_df['chol'] = preprocessing.MinMaxScaler().fit_transform(test_df[['chol']] )
train_df['thalach'] = preprocessing.MinMaxScaler().fit_transform(train_df[['thalach']] )
test_df['thalach'] = preprocessing.MinMaxScaler().fit_transform(test_df[['thalach']] )

In [10]:
train_x = train_df.drop(columns = 'target')
train_y = train_df['target']

In [11]:
from sklearn.linear_model import LogisticRegression

In [23]:
model = LogisticRegression(penalty = 'l2', random_state=2021, max_iter=150)
model.fit(train_x, train_y)
print('LR Acc : ', model.score(train_x, train_y))

LR Acc :  0.8783783783783784

C:\Users\ejrwl\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
pred = model.predict(test_df)
print(pred)

[0 1 1 1 1 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 0 0 0 0 1 0 1 1
 1 1 0 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0 1 0
 1 1 1 0 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 0 1 0 1 0 1 1 1 0 0 1 1 1 0 0 1 1
 0 1 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 0 1 1 1 1 1 0 0 0 1 1 1 1 0 0 0 0
 1 1]

In [14]:
print(model.score(test_df, pred))

1.0

In [15]:
# pred = model.predict_proba(test_df)
# print(pred[:,1])

In [16]:
pred_df=pd.DataFrame(columns = ['id','target'] )
pred_df['id'] = test_df['id']
pred_df['target'] = pred
pred_df.set_index('id', inplace = True)
pred_df.to_csv('sample_submissoin.csv')